:root{
    --rojo_brillante: #D3252A;
    --rojo_oscuro: #Af2b33;
    --amarillo_brillante: #ffde00;
    --amarillo_oscuro: #b3a125;
    --blanco: #f2f3f3;
    --negro: #201E1F;
    --blanco_grisaceo_bordes: #BDBEBC;
    --gris_oscuro: #ACADAD;
    --boton_gris: #57595B;
    --verde: #39B448;
}

html {
    scroll-behavior: smooth;
  }

nav {
    width: 100%;
    border-bottom: 2px solid var(--negro);
    box-shadow: 4px 4px 10px var(--rojo_oscuro);
}

body {
    background-color: var(--rojo_brillante);
}

.tarjeta {
    background-color: var(--blanco);
    border-radius: 10px;
    padding-bottom: 2rem;
    border: 5px solid var(--gris_oscuro);
    max-height: 315px;
}

.boton {
    background-color: var(--amarillo_brillante);
    color: var(--negro);
    border: 1px solid var(--negro);

}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Desplazar ligeramente hacia abajo */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Regresar a la posición original */
    }
}

.card {
    opacity: 0; /* Inicia con opacidad 0 */
    animation: fadeIn 0.5s ease-in-out forwards; /* Aplicar animación de desvanecimiento */
}

